specVersion: 0.0.2
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: Anchor
    network: dev
    source:
      address: "{{auxiliaryAnchor}}"
      abi: Anchor
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      entities:
        - AvailableStateRoot
      abis:
        - name: Anchor
          file: ./../abi/Anchor.json
      eventHandlers:
        - event: StateRootAvailable(uint256,bytes32)
          handler: handleStateRootAvailable
      file: ./src/AnchorMapping.ts

  - kind: ethereum/contract
    name: ERC20Cogateway
    network: dev
    source:
      address: "{{erc20Cogateway}}"
      abi: ERC20Cogateway
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      entities:
        - ConfirmedDepositIntent
        - ProvenGateway
        - CreatedUtilityToken
        - DeclaredWithdrawIntent
      abis:
        - name: ERC20Cogateway
          file: ../abi/ERC20Cogateway.json
      eventHandlers:
        - event: DepositIntentConfirmed(bytes32)
          handler: handleDepositIntentConfirmed
        - event: GatewayProven(address,uint256)
          handler: handleGatewayProven
        - event: UtilityTokenCreated(address,address)
          handler: handleUtilityTokenCreated
        - event: WithdrawIntentDeclared(uint256,uint256,address,uint256,uint256,address,address,bytes32)
          handler: handleWithdrawIntentDeclared
      file: ./src/ERC20CogatewayMapping.ts
