specVersion: 0.0.2
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: Anchor
    network: dev
    source:
      address: "{{originAnchor}}"
      abi: Anchor
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      entities:
        - AvailableStateRoot
      abis:
        - name: Anchor
          file: ../abi/Anchor.json
      eventHandlers:
        - event: StateRootAvailable(uint256,bytes32)
          handler: handleStateRootAvailable
      file: ./src/AnchorMapping.ts

  - kind: ethereum/contract
    name: ERC20Gateway
    network: dev
    source:
      address: "{{erc20Gateway}}"
      abi: ERC20Gateway
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      entities:
        - DeclaredDepositIntent
        - ProvenGateway
        - ConfirmedWithdrawIntent
      abis:
        - name: ERC20Gateway
          file: ../abi/ERC20Gateway.json
      eventHandlers:
        - event: DepositIntentDeclared(uint256,uint256,address,uint256,uint256,address,address,bytes32)
          handler: handleDepositIntentDeclared
        - event: GatewayProven(address,uint256)
          handler: handleGatewayProven
        - event: WithdrawIntentConfirmed(bytes32)
          handler: handleWithdrawIntentConfirmed
      file: ./src/ERC20GatewayMapping.ts

